.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #f9b08a; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-Title {
  display: flex;
  flex-direction: row;

}

.App-Title div {
  font-size: calc(60px + 2vmin);

}

.App-Title div img {
  height: calc(60px + 2vmin);
  vertical-align: middle;

}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.Social-Buttons {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
}

.Social-Buttons div {
  padding: 5px;
}

.Social-Buttons div img {
  height: 30px;
}

.App-Buttons {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.App-Buttons div {
  margin: 5px;
}

.myButton {

  border-radius: 28px;

  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 16px 31px;
  text-decoration: none;
}

.Stop {
  background-color: #c74444;
  border: 1px solid #ccadad;
}

.Go {
  background-color: #44c767;
  border: 1px solid #ccadad;
}

.Pause {
  background-color: #e68c1c;
  border: 1px solid #ccadad;
}

.myButton:active {
  position: relative;
  top: 1px;
}

.myButton:disabled {
  background-color: #777777;
  color: #9a9a9e;
  border: 1px solid #777777;
}

.disableSettings {
  pointer-events: none;
  opacity: 0.4;
}

.Control-Panel {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  border: 1px solid #7e8592;
  border-radius: 10px;
  font-size: 12px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 0px 10px 10px 10px;
}

.disableSettings {
  pointer-events: none;
  opacity: 0.4;
}


.Timer-Controls {
  display: inline-block;
  margin: 10px;
}

.Timer-Label {
  font-size: calc(2px + 2vmin);
}

.timer-input {
  font-size: calc(2px + 2vmin);
  padding: 8px;
  margin-top: 8px;
  border: 1px solid #7e8592;
  ;
  border-radius: 10px;
}

@media (max-width: 500px) {
  
  .Timer-Label {
    font-size: calc(12px + 3vmin);
  }

  .timer-input {
    font-size: calc(7px + 2vmin);
    padding: 8px 12px;
    margin-top: 10px;
  }

  .timeUpdate {
    font-size: 20px;
  }

  .myButton {
    padding: 13px 26px;
  }

  .Social-Buttons div img {
    height: 31px;
  }
}